
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(97, 255, 118), rgb(255, 253, 109));
}
.TelaLogin {
    background-color: rgba(0, 0, 0, 0.8);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px;
    border-radius: 15px;
    color: white;
}

.TelaCrud {
    background-color: rgba(0, 0, 0, 0.8);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px;
    border-radius: 15px;
    color: white;
}


input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
}
button {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}
button:hover {
    background-color: rgb(64, 157, 250);
    cursor: pointer;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 2%;
    right: 2%;
    left: 2%;
}

.nav-container li a{
    text-decoration: none;
    color: white    ;
}

.nav-container li a.nav:hover{
    color: rgb(119, 255, 137);
}

a.btn-login{
    text-decoration: none;
}

.pdp{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(97, 255, 118), rgb(255, 253, 109));
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.quem{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(97, 255, 118), rgb(255, 253, 109));
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%; 
}



img {
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
    margin-left: 60%;
    border-radius: 15px;
    float: left;
}

.artigo{
    position: absolute;
    top: 120px;
    left: 700px;

}

.tituloa{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 170px;
    left: 300px;
    text-decoration: none;
    list-style: none; 
    color: black;
}

.titlea{
    position: absolute;
    top: 100px;
    left: 200px;
}

.textArtigo{
    position: absolute;
    top: 170px;
    left: 150px;
    right: 150px;
    bottom: 100px;
}

.artigo1{
    position: absolute;
    top: 380px;
    left: 750px;
}

.tituloa1{
font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 420px;
    left: 250px;
    text-decoration: none;
    list-style: none; 
    color: black;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: auto;
    position: absolute;
    top: 90px;
    right: 8%;
    left: 8%;
    bottom: 5%;
}

.indicacao{
    position: absolute;
    top: 120px;
    left: 700px;
}

.containerpdp{
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 2950px;
    position: absolute;
    top: 90px;
    right: 8%;
    left: 8%;
    bottom: 5%;
}

.txtpdp{
    position: absolute;
    top: 10px;
    right: 8%;
    left: 8%;
}

.containerQuem{
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 1220px;
    position: absolute;
    top: 90px;
    right: 8%;
    left: 8%;
    bottom: 5%;
}

.txtQuem{
    position: absolute;
    top: 10px;
    right: 8%;
    left: 8%;
}

.back-div{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}